<div class="container mx-auto my-4">
    <ul class="my-4 flex flex-row items-center gap-6 border-b py-4 text-2xl font-semibold text-gray-400">
        <li class="text-black">Tin nổi bật</li>
        <li>Tin tức</li>
        <li>BĐS TPHCM</li>
        <li>BĐS Hà Nội</li>
        <li class="ml-auto flex items-center gap-2 text-sm font-bold text-rose-600">Xem thêm <span class="material-symbols-outlined text-sm"> arrow_forward </span></li>
    </ul>

    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6 space-y-2">
            <img class="w-full rounded" src="./assets/home-news-image.jpg" alt="" />
            <h3 class="text-xl font-semibold">Toàn Cảnh Thị Trường Bất Động Sản Tháng 2/2024 </h3>
            <div class="flex items-center gap-1 text-sm text-gray-500"
                ><span class="material-symbols-outlined time-icon" style="font-size: 16px"> schedule </span>1 ngày trước
            </div>
        </div>

        <div class="col-span-6 divide-y">
            <p class="pb-4">Đầu Tư Căn Hộ: Kênh Đầu Tư “Nóng” Nhất 2024?</p>
            <p class="py-4">Toàn Cảnh Thị Trường Bất Động Sản Tháng 2/2024</p>
            <p class="py-4">Vùng Ven Có Còn Chung Cư Giá Rẻ?</p>
            <p class="py-4">Kinh Nghiệm Mua Nhà Đất - Chi Tiết Từng Bước Cho Người Mua Lần Đầu</p>
            <p class="py-4">Đất Dịch Vụ Hà Nội Hút Giới Đầu Tư Sau Tết Nguyên Đán 2024</p>
            <p class="py-4">Tính Lãi Suất Vay Ngân Hàng Trả Góp - Cách Nào Lợi Hơn?</p>
        </div>
    </div>
</div>
