<hr class="my-12" />

<div class="container mx-auto">
    <!--Intro-->
    <div class="my-12 grid grid-cols-12 items-start gap-8">
        <div class="col-span-3 flex h-full flex-col items-center justify-center border-r pr-8">
            <img src="https://staticfile.batdongsan.com.vn/images/box-link-footer/ForSale.svg" alt="" />
            <h4 class="my-2 font-bold">Bất động sản bán </h4>
            <p class="text-justify"
                >Bạn có thể tìm thấy ngôi nhà mơ ước hoặc cơ hội đầu tư hấp dẫn thông qua lượng tin rao lớn, uy tín về các loại hình bất động sản bán tại Việt Nam, bao gồm bán nhà
                riêng, bán nhà mặt tiền, bán căn hộ chung cư, bán biệt thự, bán đất, bán shophouse và các loại hình BĐS khác</p
            >
        </div>

        <div class="col-span-3 flex h-full flex-col items-center justify-center border-r pr-8">
            <img src="https://staticfile.batdongsan.com.vn/images/box-link-footer/ForRent.svg" alt="" />
            <h4 class="my-2 font-bold">Bất động sản cho thuê </h4>
            <p class="text-justify"
                >Cập nhật thường xuyên và đầy đủ các loại hình bất động sản cho thuê như: thuê phòng trọ, nhà riêng, thuê biệt thự, văn phòng, kho xưởng hay thuê mặt bằng kinh
                doanh giúp bạn nhanh chóng tìm được bất động sản ưng ý.</p
            >
        </div>

        <div class="col-span-3 flex h-full flex-col items-center justify-center border-r pr-8">
            <img src="https://staticfile.batdongsan.com.vn/images/box-link-footer/Projects.svg" alt="" />
            <h4 class="my-2 font-bold">Bất động sản cho thuê </h4>
            <p class="text-justify"
                >Các video đánh giá tổng quan dự án cung cấp góc nhìn khách quan của các chuyên gia về những dự án nổi bật tại Việt Nam, giúp bạn đưa ra quyết định đúng đắn cho nơi
                an cư lý tưởng hoặc cơ hội đầu tư sinh lời.</p
            >
        </div>

        <div class="col-span-3 flex h-full flex-col items-center justify-center">
            <img src="https://staticfile.batdongsan.com.vn/images/box-link-footer/Projects.svg" alt="" />
            <h4 class="my-2 font-bold">Wiki BĐS</h4>
            <p class="text-justify"
                >Ngoài cập nhật những biến động thị trường, chúng tôi còn cung cấp kiến ​​thức, kinh nghiệm về mua bán, cho thuê, đầu tư, vay mua nhà, phong thủy, thiết kế nhà, mọi
                thông tin cần thiết để dẫn lối người tìm nhà tìm thấy căn nhà mơ ước.</p
            >
        </div>
    </div>
</div>
