 <div class="container mx-auto my-12">

     <h3 class="text-xl font-semibold my-4">Bất động sản theo địa điểm </h3>

     <div class="grid grid-cols-12 gap-8">
         <div class="relative col-span-6 overflow-hidden rounded shadow">
             <img class="h-full w-full object-cover" src="https://file4.batdongsan.com.vn/images/newhome/cities1/HCM-web-3.jpg" alt="" />

             <div class="absolute top-0 w-full px-4 py-3">
                 <h1 class="text-xl font-semibold text-white"> TP. Hồ Chí Minh </h1>
                 <p class="text-gray-200"> 12 345 tin đăng </p>
             </div>
         </div>

         <div class="col-span-6 grid grid-cols-2 gap-8">
             <div class="relative overflow-hidden rounded shadow">
                 <img class="h-full w-full object-cover" src="https://file4.batdongsan.com.vn/images/newhome/cities1/HCM-web-3.jpg" alt="" />

                 <div class="absolute top-0 w-full px-4 py-3">
                     <h1 class="text-xl font-semibold text-white"> TP. Hồ Chí Minh </h1>
                     <p class="text-gray-200"> 12 345 tin đăng </p>
                 </div>
             </div>
             <div class="relative overflow-hidden rounded shadow">
                 <img class="h-full w-full object-cover" src="https://file4.batdongsan.com.vn/images/newhome/cities1/HCM-web-3.jpg" alt="" />

                 <div class="absolute top-0 w-full px-4 py-3">
                     <h1 class="text-xl font-semibold text-white"> TP. Hồ Chí Minh </h1>
                     <p class="text-gray-200"> 12 345 tin đăng </p>
                 </div>
             </div>

             <div class="relative overflow-hidden rounded shadow">
                 <img class="h-full w-full object-cover" src="https://file4.batdongsan.com.vn/images/newhome/cities1/HCM-web-3.jpg" alt="" />

                 <div class="absolute top-0 w-full px-4 py-3">
                     <h1 class="text-xl font-semibold text-white"> TP. Hồ Chí Minh </h1>
                     <p class="text-gray-200"> 12 345 tin đăng </p>
                 </div>
             </div>

             <div class="relative overflow-hidden rounded shadow">
                 <img class="h-full w-full object-cover" src="https://file4.batdongsan.com.vn/images/newhome/cities1/HCM-web-3.jpg" alt="" />

                 <div class="absolute top-0 w-full px-4 py-3">
                     <h1 class="text-xl font-semibold text-white"> TP. Hồ Chí Minh </h1>
                     <p class="text-gray-200"> 12 345 tin đăng </p>
                 </div>
             </div>
         </div>
     </div>

     <button class="mr-2 mt-4 inline-block rounded-full bg-gray-200 px-4 py-2 text-sm font-medium text-gray-600">VinHomes Central Park</button>
     <button class="mr-2 mt-4 inline-block rounded-full bg-gray-200 px-4 py-2 text-sm font-medium text-gray-600">VinHomes Central Park</button>
     <button class="mr-2 mt-4 inline-block rounded-full bg-gray-200 px-4 py-2 text-sm font-medium text-gray-600">VinHomes Central Park</button>
     <button class="mr-2 mt-4 inline-block rounded-full bg-gray-200 px-4 py-2 text-sm font-medium text-gray-600">VinHomes Central Park</button>
     <button class="mr-2 mt-4 inline-block rounded-full bg-gray-200 px-4 py-2 text-sm font-medium text-gray-600">VinHomes Central Park</button>
     <button class="mr-2 mt-4 inline-block rounded-full bg-gray-200 px-4 py-2 text-sm font-medium text-gray-600">VinHomes Central Park</button>
     <button class="mr-2 mt-4 inline-block rounded-full bg-gray-200 px-4 py-2 text-sm font-medium text-gray-600">VinHomes Central Park</button>
</div>
