<div class="container mx-auto my-4">
    <hr class="my-8" />
    <div class="my-4 flex items-center justify-between">
        <h3 class="text-xl font-semibold">Bất động sản dành cho bạn</h3>
        <div class="flex items-center gap-4 text-sm">
            <p class="border-r border-gray-500 pr-4">Tin nhà đất bán mới nhất</p>
            <p>Tin nhà đất cho thuê mới nhất</p>
        </div>
    </div>

    <div class="grid grid-cols-12 gap-8">
        <div class="col-span-3 shadow">
            <img class="w-full rounded-t object-cover" src="https://file4.batdongsan.com.vn/crop/393x222/2021/11/17/20211117104036-df9b_wm.jpg" alt="" />
            <div class="p-4">
                <p class="truncate text-sm font-semibold">Bán CH Sunview Town 2PN căn góc view siêu đẹp, nhà mới, sang</p>
                <div class="mt-1 flex items-center gap-2 font-bold text-rose-600">
                    <p>1.75 tỷ</p>
                    <span>-</span>
                    <p>58m<sup>2</sup></p>
                </div>
                <p class="mt-1 flex items-center gap-2 text-sm text-gray-700"
                    ><span class="material-symbols-outlined" style="font-size: 16px"> location_on </span>Thủ Đức, Hồ Chí Minh</p
                >

                <div class="mt-4 flex items-center justify-between">
                    <p class="text-xs text-gray-600">Đăng hôm nay</p>
                    <button class="material-symbols-outlined rounded border p-1"> favorite</button>
                </div>
            </div>
        </div>
        <div class="col-span-3 shadow">
            <img class="w-full rounded-t object-cover" src="https://file4.batdongsan.com.vn/crop/393x222/2021/11/17/20211117104036-df9b_wm.jpg" alt="" />
            <div class="p-4">
                <p class="truncate text-sm font-semibold">Bán CH Sunview Town 2PN căn góc view siêu đẹp, nhà mới, sang</p>
                <div class="mt-1 flex items-center gap-2 font-bold text-rose-600">
                    <p>1.75 tỷ</p>
                    <span>-</span>
                    <p>58m<sup>2</sup></p>
                </div>
                <p class="mt-1 flex items-center gap-2 text-sm text-gray-700"
                    ><span class="material-symbols-outlined" style="font-size: 16px"> location_on </span>Thủ Đức, Hồ Chí Minh</p
                >

                <div class="mt-4 flex items-center justify-between">
                    <p class="text-xs text-gray-600">Đăng hôm nay</p>
                    <button class="material-symbols-outlined rounded border p-1"> favorite</button>
                </div>
            </div>
        </div>
        <div class="col-span-3 shadow">
            <img class="w-full rounded-t object-cover" src="https://file4.batdongsan.com.vn/crop/393x222/2021/11/17/20211117104036-df9b_wm.jpg" alt="" />
            <div class="p-4">
                <p class="truncate text-sm font-semibold">Bán CH Sunview Town 2PN căn góc view siêu đẹp, nhà mới, sang</p>
                <div class="mt-1 flex items-center gap-2 font-bold text-rose-600">
                    <p>1.75 tỷ</p>
                    <span>-</span>
                    <p>58m<sup>2</sup></p>
                </div>
                <p class="mt-1 flex items-center gap-2 text-sm text-gray-700"
                    ><span class="material-symbols-outlined" style="font-size: 16px"> location_on </span>Thủ Đức, Hồ Chí Minh</p
                >

                <div class="mt-4 flex items-center justify-between">
                    <p class="text-xs text-gray-600">Đăng hôm nay</p>
                    <button class="material-symbols-outlined rounded border p-1"> favorite</button>
                </div>
            </div>
        </div>
        <div class="col-span-3 shadow">
            <img class="w-full rounded-t object-cover" src="https://file4.batdongsan.com.vn/crop/393x222/2021/11/17/20211117104036-df9b_wm.jpg" alt="" />
            <div class="p-4">
                <p class="truncate text-sm font-semibold">Bán CH Sunview Town 2PN căn góc view siêu đẹp, nhà mới, sang</p>
                <div class="mt-1 flex items-center gap-2 font-bold text-rose-600">
                    <p>1.75 tỷ</p>
                    <span>-</span>
                    <p>58m<sup>2</sup></p>
                </div>
                <p class="mt-1 flex items-center gap-2 text-sm text-gray-700"
                    ><span class="material-symbols-outlined" style="font-size: 16px"> location_on </span>Thủ Đức, Hồ Chí Minh</p
                >

                <div class="mt-4 flex items-center justify-between">
                    <p class="text-xs text-gray-600">Đăng hôm nay</p>
                    <button class="material-symbols-outlined rounded border p-1"> favorite</button>
                </div>
            </div>
        </div>
        <div class="col-span-3 shadow">
            <img class="w-full rounded-t object-cover" src="https://file4.batdongsan.com.vn/crop/393x222/2021/11/17/20211117104036-df9b_wm.jpg" alt="" />
            <div class="p-4">
                <p class="truncate text-sm font-semibold">Bán CH Sunview Town 2PN căn góc view siêu đẹp, nhà mới, sang</p>
                <div class="mt-1 flex items-center gap-2 font-bold text-rose-600">
                    <p>1.75 tỷ</p>
                    <span>-</span>
                    <p>58m<sup>2</sup></p>
                </div>
                <p class="mt-1 flex items-center gap-2 text-sm text-gray-700"
                    ><span class="material-symbols-outlined" style="font-size: 16px"> location_on </span>Thủ Đức, Hồ Chí Minh</p
                >

                <div class="mt-4 flex items-center justify-between">
                    <p class="text-xs text-gray-600">Đăng hôm nay</p>
                    <button class="material-symbols-outlined rounded border p-1"> favorite</button>
                </div>
            </div>
        </div>
        <div class="col-span-3 shadow">
            <img class="w-full rounded-t object-cover" src="https://file4.batdongsan.com.vn/crop/393x222/2021/11/17/20211117104036-df9b_wm.jpg" alt="" />
            <div class="p-4">
                <p class="truncate text-sm font-semibold">Bán CH Sunview Town 2PN căn góc view siêu đẹp, nhà mới, sang</p>
                <div class="mt-1 flex items-center gap-2 font-bold text-rose-600">
                    <p>1.75 tỷ</p>
                    <span>-</span>
                    <p>58m<sup>2</sup></p>
                </div>
                <p class="mt-1 flex items-center gap-2 text-sm text-gray-700"
                    ><span class="material-symbols-outlined" style="font-size: 16px"> location_on </span>Thủ Đức, Hồ Chí Minh</p
                >

                <div class="mt-4 flex items-center justify-between">
                    <p class="text-xs text-gray-600">Đăng hôm nay</p>
                    <button class="material-symbols-outlined rounded border p-1"> favorite</button>
                </div>
            </div>
        </div>
        <div class="col-span-3 shadow">
            <img class="w-full rounded-t object-cover" src="https://file4.batdongsan.com.vn/crop/393x222/2021/11/17/20211117104036-df9b_wm.jpg" alt="" />
            <div class="p-4">
                <p class="truncate text-sm font-semibold">Bán CH Sunview Town 2PN căn góc view siêu đẹp, nhà mới, sang</p>
                <div class="mt-1 flex items-center gap-2 font-bold text-rose-600">
                    <p>1.75 tỷ</p>
                    <span>-</span>
                    <p>58m<sup>2</sup></p>
                </div>
                <p class="mt-1 flex items-center gap-2 text-sm text-gray-700"
                    ><span class="material-symbols-outlined" style="font-size: 16px"> location_on </span>Thủ Đức, Hồ Chí Minh</p
                >

                <div class="mt-4 flex items-center justify-between">
                    <p class="text-xs text-gray-600">Đăng hôm nay</p>
                    <button class="material-symbols-outlined rounded border p-1"> favorite</button>
                </div>
            </div>
        </div>
        <div class="col-span-3 shadow">
            <img class="w-full rounded-t object-cover" src="https://file4.batdongsan.com.vn/crop/393x222/2021/11/17/20211117104036-df9b_wm.jpg" alt="" />
            <div class="p-4">
                <p class="truncate text-sm font-semibold">Bán CH Sunview Town 2PN căn góc view siêu đẹp, nhà mới, sang</p>
                <div class="mt-1 flex items-center gap-2 font-bold text-rose-600">
                    <p>1.75 tỷ</p>
                    <span>-</span>
                    <p>58m<sup>2</sup></p>
                </div>
                <p class="mt-1 flex items-center gap-2 text-sm text-gray-700"
                    ><span class="material-symbols-outlined" style="font-size: 16px"> location_on </span>Thủ Đức, Hồ Chí Minh</p
                >

                <div class="mt-4 flex items-center justify-between">
                    <p class="text-xs text-gray-600">Đăng hôm nay</p>
                    <button class="material-symbols-outlined rounded border p-1"> favorite</button>
                </div>
            </div>
        </div>
    </div>

    <div class="my-6 flex items-center justify-center">
        <button pButton class="font-semibold">
            Xem tiếp
            <span class="material-symbols-outlined"> chevron_right </span>
        </button>
    </div>
</div>
