<div class="container mx-auto my-4">
    <hr class="my-8" />

    <div class="my-4 flex items-center justify-between">
        <h3 class="text-xl font-semibold">Dự án bất động sản nổi bật</h3>
        <p class="inline-flex items-center gap-2 text-sm font-bold text-rose-600">Xem thêm <span class="material-symbols-outlined text-sm"> arrow_forward </span></p>
    </div>

    <div class="grid grid-cols-12 gap-8">
        <div class="col-span-3 shadow">
            <img class="w-full rounded-t object-cover" src="https://file4.batdongsan.com.vn/crop/393x222/2021/11/17/20211117104036-df9b_wm.jpg" alt="" />
            <div class="p-4">
                <div class="flex items-center space-x-2 truncate bg-blue-200 p-2 text-xs text-blue-600 rounded mb-2 font-medium">
                    <p class="font-bold">Sắp mở bán</p>
                    <span>.</span>
                    <p>18/3/2024</p>
                    <span>.</span>
                    <p>Đang nhận booking</p>
                </div>
                <p class="truncate text-sm font-semibold">Eaton Park </p>
                <p class="font-semibold text-rose-600">58m<sup>2</sup></p>
                <p class="mt-1 flex items-center gap-2 text-sm text-gray-700"
                ><span class="material-symbols-outlined" style="font-size: 16px"> location_on </span>Thủ Đức, Hồ Chí Minh</p
                >
            </div>
        </div>
        <div class="col-span-3 shadow">
            <img class="w-full rounded-t object-cover" src="https://file4.batdongsan.com.vn/crop/393x222/2021/11/17/20211117104036-df9b_wm.jpg" alt="" />
            <div class="p-4">
                <div class="flex items-center space-x-2 truncate bg-blue-200 p-2 text-xs text-blue-600 rounded mb-2 font-medium">
                    <p class="font-bold">Sắp mở bán</p>
                    <span>.</span>
                    <p>18/3/2024</p>
                    <span>.</span>
                    <p>Đang nhận booking</p>
                </div>
                <p class="truncate text-sm font-semibold">Eaton Park </p>
                <p class="font-semibold text-rose-600">58m<sup>2</sup></p>
                <p class="mt-1 flex items-center gap-2 text-sm text-gray-700"
                ><span class="material-symbols-outlined" style="font-size: 16px"> location_on </span>Thủ Đức, Hồ Chí Minh</p
                >
            </div>
        </div>
        <div class="col-span-3 shadow">
            <img class="w-full rounded-t object-cover" src="https://file4.batdongsan.com.vn/crop/393x222/2021/11/17/20211117104036-df9b_wm.jpg" alt="" />
            <div class="p-4">
                <div class="flex items-center space-x-2 truncate bg-emerald-200 p-2 text-xs text-emerald-600 rounded mb-2 font-medium">
                    <p class="font-bold">Sắp mở bán</p>
                    <span>.</span>
                    <p>18/3/2024</p>
                    <span>.</span>
                    <p>Đang nhận booking</p>
                </div>
                <p class="truncate text-sm font-semibold">Eaton Park </p>
                <p class="font-semibold text-rose-600">58m<sup>2</sup></p>
                <p class="mt-1 flex items-center gap-2 text-sm text-gray-700"
                ><span class="material-symbols-outlined" style="font-size: 16px"> location_on </span>Thủ Đức, Hồ Chí Minh</p
                >
            </div>
        </div>
        <div class="col-span-3 shadow">
            <img class="w-full rounded-t object-cover" src="https://file4.batdongsan.com.vn/crop/393x222/2021/11/17/20211117104036-df9b_wm.jpg" alt="" />
            <div class="p-4">
                <div class="flex items-center space-x-2 truncate bg-emerald-200 p-2 text-xs text-emerald-600 rounded mb-2 font-medium">
                    <p class="font-bold">Sắp mở bán</p>
                    <span>.</span>
                    <p>18/3/2024</p>
                    <span>.</span>
                    <p>Đang nhận booking</p>
                </div>
                <p class="truncate text-sm font-semibold">Eaton Park </p>
                <p class="font-semibold text-rose-600">58m<sup>2</sup></p>
                <p class="mt-1 flex items-center gap-2 text-sm text-gray-700"
                ><span class="material-symbols-outlined" style="font-size: 16px"> location_on </span>Thủ Đức, Hồ Chí Minh</p
                >
            </div>
        </div>

    </div>
</div>

