<nav class="sticky top-0 z-50 flex flex-row items-center justify-between bg-white p-4 shadow">
    <div class="flex flex-row items-center font-semibold">
        <a routerLink="/">
            <img class="mr-4 w-32" src="assets/logo.png" alt="" />
        </a>

        <ul class="flex flex-row gap-4">
            <li>Nhà đất bán</li>
            <li>Nhà đất cho thuê</li>
            <li>Dự án</li>
            <li routerLink="/news" class="cursor-pointer">Tin tức</li>
            <li>Từ điển BĐS</li>
            <li>Phân tích đánh giá</li>
            <li>Danh bạ</li>
        </ul>
    </div>

    <ul class="flex flex-row items-center gap-4 font-semibold">
        <li class="flex items-center">
            <span class="material-symbols-outlined">favorite</span>
        </li>
        <li>
            <a routerLink="/login"> Đăng nhập</a>
        </li>
        <li>
            <a routerLink="/register">Đăng ký</a>
        </li>
        <li>
            <button pButton pRipple label="Đăng tin"></button>
        </li>
    </ul>
</nav>
