<div class="container mx-auto my-12">

    <h3 class="my-4 text-xl font-semibold">Doanh nghiệp tiêu biểu</h3>

    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-2 shadow">
            <img class="h-32 w-96 object-contain" src="https://file4.batdongsan.com.vn/2022/08/18/20220818133706-50e7_wm.jpg" alt="" />
        </div>

        <div class="col-span-2 shadow">
            <img class="h-32 w-96 object-contain" src="https://file4.batdongsan.com.vn/2022/08/18/20220818133706-50e7_wm.jpg" alt="" />
        </div>
        <div class="col-span-2 shadow">
            <img class="h-32 w-96 object-contain" src="https://file4.batdongsan.com.vn/2021/03/15/hmcVYWuR/20210315115758-8278.jpg" alt="" />
        </div>

        <div class="col-span-2 shadow">
            <img class="h-32 w-96 object-contain" src="https://file4.batdongsan.com.vn/2021/03/15/hmcVYWuR/20210315115758-8278.jpg" alt="" />
        </div>

        <div class="col-span-2 shadow">
            <img class="h-32 w-96 object-contain" src="https://file4.batdongsan.com.vn/2021/03/15/hmcVYWuR/20210315115758-8278.jpg" alt="" />
        </div>

        <div class="col-span-2 shadow">
            <img class="h-32 w-96 object-contain" src="https://file4.batdongsan.com.vn/2020/10/16/hmcVYWuR/20201016153855-fa63.jpg" alt="" />
        </div>
    </div>




</div>

